<div class="container">
    <nav class="nav">
        <a href="/panel">Glorius</a>

        <a href="#">Mi Cuenta</a>
    </nav>

    <div class="section">
        <div class="buttons">
            <div class="options"><a routerLink="/productosglobales" class="option">Ver Productos Globales ></a></div>
            <div class="options"><a routerLink="/atributos" class="option">Atributos ></a></div>
            <div class="regresar"><a routerLink="/panel" class="option">Regresar ></a></div>
        </div>
    </div>
    <footer>
        <div class="copy">
            <p>@Copyright By Asterisk</p>
        </div>
    </footer>
</div>