<div class="register">
    <div class="container-register">
        <h1>Bienvenidos a Glorius</h1>
        <div class="rellenar-datos">
            <h2 class="titulo-inicio">Registrate</h2>
            <label for="nombre-register">Ingrese el nombre: <input type="text" class="contraseña-dato" id="nombre-datos"></label>
            <label for="apellido-register">Ingrese el apellido: <input type="text" class="contraseña-dato" id="apellido-datos"></label>
            <label for="correo-register">Ingrese el correo: <input type="text" class="contraseña-dato" id="correo-datos"></label>
            <label for="contraseña-register">Ingrese la contraseña:<input type="password" class="contraseña-dato" id="contraseña-datos"></label>
            <div class="botones">
                <button type="submit" class="registro">Registrarme</button>
                <a href=""><button class="login">Ya tengo cuenta, Quiero Ingresar</button></a>
            </div>
        </div>
    </div>
    <footer>
        <p>@Copyright by Glorius</p>
    </footer>
</div>
