<div class="container">
  <nav class="nav">
    <a href="/panel">Glorius</a>
    <a href="#">Mi Cuenta</a>
  </nav>
  <div class="section">
    <div class="welcome">
      <h1>Bienvenido Adminitrador</h1>
    </div>
    <div class="buttons">
      <div class="options"><a routerLink="/opciones-registro" class="option">REGISTROS ADMINISTRATIVOS ></a></div>
      <div class="options"><a href="#" class="option">REPORTES COMERCIALES ></a></div>
      <div class="options"><a href="#" class="option">GESTION DE USUARIO ></a></div>
      <div class="logout" (click)="CerrarSesion()"><p class="logout">CERRAR SESION ></p></div>
    </div>
  </div>

  <footer>
    <div class="section2">
      <div class="logo"><p>GLORIUS</p></div>
        <div class="help">
          <p>TE AYUDAMOS</p>
          <a href="#">Libro de Reclamaciones</a>
          <a href="#">Atención al cliente</a>
          <a href="#">Preguntas Frecuentes</a>
          <a href="#">Cambios y Devoluciones</a>
          <a href="#">Seguimientos de mi Orden</a>
          <a href="#">Terminos y condiciones</a>
        </div>
        <div class="aboutus">
          <p>NOSOTROS</p>
          <a href="#">Nuestra Empresa</a>
          <a href="#">Nuestros Diseñadores</a>
          <a href="#">Proveedores</a>
          <a href="#">Trabaja con Nosotros</a>
        </div>
    </div>
    <div class="copy">
      <p>@Copyright By Asterisk</p>
    </div>
  </footer>
</div>