<div class="Login">
    <div class="container-login">
        <h1>Bienvenidos a Glorius</h1>
        <div class="rellenar-datos">
            <h2 class="titulo-inicio">Inicio de Sesión</h2>
            <label for="correo-login">Ingrese el correo: <input type="text" required [(ngModel)] ="datalogin.user_email" name="user_email" class="correo-dato" id="correo-datos"></label>
            <label for="contraseña-login">Ingrese la contraseña:<input type="password" required [(ngModel)] ="datalogin.user_password" name="user_password"class="contraseña-dato" id="contraseña-datos"></label>
            <div class="botones">
                <button type="submit" role="button" (click)="formSubmit()" class="ingresar">Ingresar</button>
                <a href="/registro"><button class="registro">Quiero registrarme</button></a>
            </div>
        </div>
    </div>
    <footer>
        <p>@Copyright By Asterisk</p>
    </footer>

